include "animations.kdl"
include "binds.kdl"
include "cursor.kdl"
include "decorations.kdl"
include "input.kdl"
include "layout.kdl"
include "output.kdl"
include "screenshots.kdl"
include "spawn-at-startup.kdl"
include "window-rules.kdl"

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}
