include "animations.kdl"
include "binds.kdl"
include "decorations.kdl"
include "layout.kdl"
include "screenshots.kdl"
include "spawn-at-startup.kdl"
include "window-rules.kdl"

input {
    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
    }
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}
